services:
  cross-backend-pdf-rag:
    build:
      context: .
      no_cache: true
      dockerfile: Dockerfile.backend
    image: cross-backend-pdf-rag-image:latest
    volumes:
      - ~/.aws/credentials:/root/.aws/credentials:ro
      - ~/.aws/config:/root/.aws/config:ro
      - ~/.aws/sso/cache:/root/.aws/sso/cache:rw  # Only make cache writable
    ports:
      - "8080:8080"
    restart: always
    container_name: cross-backend-pdf-rag-container